<?xml version="1.0" encoding="UTF-8"?>

<application-configuration>
  <setupStep>setupLicense</setupStep>
  <setupType>initial</setupType>
  <buildNumber>{{ build_number | default('0') }}</buildNumber>
  <properties>
  	{% if atl_broker_client_uri is defined %}
  	<property name="bamboo.jms.broker.client.uri">{{ atl_broker_client_uri }}</property>
  	{% endif %}
  	<property name="bamboo.jms.broker.uri">{{ atl_broker_uri | default('nio://0.0.0.0:54663') }}</property>
        
    {% if atl_jdbc_url is defined %}
    <property name="hibernate.c3p0.min_size">{{ atl_db_poolminsize | default('3') }}</property>
    <property name="hibernate.c3p0.timeout">{{ atl_db_timeout | default('120') }}</property>
    <property name="hibernate.c3p0.idle_test_period">{{ atl_db_idletestperiod | default('30') }}</property>
    <property name="hibernate.c3p0.max_statements">{{ atl_db_maxstatements | default('0') }}</property>
    <property name="hibernate.c3p0.validate">{{ atl_db_validate | default('false') }}</property>
    <property name="hibernate.c3p0.acquire_increment">{{ atl_db_acquireincrement | default('3') }}</property>
    <property name="hibernate.c3p0.preferredTestQuery">{{ atl_db_validationquery | default('select 1') }}</property>
    {% endif %}
  </properties>
</application-configuration>
