driverClassName=org.h2.Driver
databaseUrl={{ atl_jdbc_url | default('jdbc:h2:${bambooHome}/database/h2') }}
userName={{ atl_jdbc_user | default('sa') }}
password=
poolSize={{ atl_db_poolmaxsize | default('170') }}
dialect=com.atlassian.bamboo.hibernate.H2NoClobDialect
