driverClassName=com.microsoft.sqlserver.jdbc.SQLServerDriver
databaseUrl={{ atl_jdbc_url | default('jdbc:sqlserver://localhost:1433;databaseName=<insert_database>') }}
userName={{ atl_jdbc_user  }}
password=
poolSize={{ atl_db_poolmaxsize | default('100') }}
dialect=com.atlassian.bamboo.hibernate.SQLServerIntlDialect
