driverClassName=org.postgresql.Driver
databaseUrl={{ atl_jdbc_url | default('jdbc:postgresql://localhost:5432/bamboo') }}
userName={{ atl_jdbc_user  }}
password=
poolSize={{ atl_db_poolmaxsize | default('100') }}
dialect=org.hibernate.dialect.PostgreSQL82Dialect
